
*{
  user-select: none;
  user-zoom: none;
 touch-action: manipulation;
 
 margin:0;
  padding:0;

}



ul{padding-top:100px}

.mainButton{
 font-family: "Trebuchet MS", sans-serif;
  font-weight: bold;
  border-radius: 25px;
 border: 0;
position:relative;
 background-color: #0297ff;
 box-shadow: #0082dd 0px 20px 0px 0px;
 font-size: 80px;

 color:white;

  padding-bottom:20px;
  padding-left:20px;
 margin-bottom:20px;
 padding-top:10px;



}



#mainContainer{
display: flex;
justify-content: center;
}

span{
color: white;

 font-size: 55px;
 position:absolute;
 left:175px;
 top:60px;
 width: 350px;
 text-align: left;
}



li{list-style: none;
padding:20px;}
ul{
  position:absolute;
  left:50%;
  transform:translateX(-325px);
}

svg {
  height: 100px;
  width:100px;
  position:relative;
transform:translateX(-25px);
  fill:#fff;
  float:left;
}

body{
   font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-weight: bold;
  background:#f5f5f5;
  margin:0;
}

.center{
  position: absolute;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
}

.centerX{
  position: absolute;
  left:50%;

  transform:translateX(-50%);
}


.shake:active {


  -webkit-animation-name: shake;
    -webkit-animation-duration: 0.5s;
    -moz-animation-name: shake;
     -moz-animation-duration: 0.5s;
      -o-animation-name: shake;
     -o-animation-duration: 0.5s;
}

@-o-keyframes shake {
    0% { transform:translate(0,6px); } 
      1% { transform:translate(0,0px); } 
       10% {  transform:translate(0,6px); }  
        20% { transform:translate(0,8px);}  
         40% {  transform:translate(0,14px);}  
          60% {  transform:translate(0,8px);}  
           80% {  transform:translate(0,6px);}  
            100% {   transform:translate(0,0);}  
}


@-moz-keyframes shake {
     0% { transform:translate(0,6px); } 
      1% { transform:translate(0,0px); } 
       10% {  transform:translate(0,6px); }  
        20% { transform:translate(0,8px);}  
         40% {  transform:translate(0,14px);}  
          60% {  transform:translate(0,8px);}  
           80% {  transform:translate(0,6px);}  
            100% {   transform:translate(0,0);}  
}



@-webkit-keyframes shake {
    0% { transform:translate(0,6px); } 
      1% { transform:translate(0,0px); } 
       10% {  transform:translate(0,6px); }  
        20% { transform:translate(0,8px);}  
         40% {  transform:translate(0,14px);}  
          60% {  transform:translate(0,8px);}  
           80% {  transform:translate(0,6px);}  
            100% {   transform:translate(0,0);}  
}

.shakeSpeaker:active {


  -webkit-animation-name: shakeSpeaker;
    -webkit-animation-duration: 0.2s;
    -moz-animation-name: shakeSpeaker;
     -moz-animation-duration: 0.2s;
      -o-animation-name: shakeSpeaker;
     -o-animation-duration: 0.2s;
}

@-webkit-keyframes shakeSpeaker {
    0% { height: 250px; width:250px; } 
      1% { height: 250px; width:250px; } 
       10% {  height: 225px; width:225px; }  
        20% { height: 200px; width:200px;}  
         40% { height: 175px; width:175px;}  
          60% { height: 200px; width:200px;}  
           80% { height: 225px; width:225px;}  
            100% {  height: 250px; width:250px;}  
}


@-o-keyframes shakeSpeaker {
    0% { height: 250px; width:250px; } 
      1% { height: 250px; width:250px; } 
       10% {  height: 225px; width:225px; }  
        20% { height: 200px; width:200px;}  
         40% { height: 175px; width:175px;}  
          60% { height: 200px; width:200px;}  
           80% { height: 225px; width:225px;}  
            100% {  height: 250px; width:250px;} 
}

@-moz-keyframes shakeSpeaker {
    0% { height: 250px; width:250px; } 
      1% { height: 250px; width:250px; } 
       10% {  height: 225px; width:225px; }  
        20% { height: 200px; width:200px;}  
         40% { height: 175px; width:175px;}  
          60% { height: 200px; width:200px;}  
           80% { height: 225px; width:225px;}  
            100% {  height: 250px; width:250px;} 
}