
@font-face {
  font-family: 'GROBOLD';
  src: url(../fonts/GROBOLD.ttf);
}
* {
     box-sizing: border-box !important;
     user-select: none;
     padding:0;
     margin:0;
}

.container {
     max-width: 1170px;
}

html {
     scroll-behavior: smooth;
}

body {
     color: #666666;
     font-size: 1rem;
     font-family: 'Poppins', sans-serif;
     line-height: 1.80857;
     font-weight: normal;
}
.interactiveDisabled{
  background : gray;
   opacity : 0.2;
   box-shadow : 0px 0px #cb2e26;
}
.holder{
  position:fixed;
  left:100%;
  top:0;
  height:100%;
  width:100%;
  background:#fff;
  z-index:1;
  overflow:scroll;
box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;

}


#loader{
	background:rgba(0,0,0,0.25);
	height:100%;
	left:0;
	top:0;
	width:100%;
	position:fixed;
	display:none;
	flex-direction: column;
	justify-content: center;
	align-content: center;
  z-index:10;

}

#loader div{
	box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
	padding:30px;
	width:200px;
	height: 200px;
	text-align: center;
	background:#fff;
	border-radius: 25px;
	margin: 0 auto;
}

#loader h2{
color:#b71540;
font-weight:bold;
}

#loader div dotlottie-player{
	margin-top:-25px;
}


 #readingTemplateHolder{
   position:fixed;
    
     height:100vh;
     width:100%;
     top:0; 
   background:#f8f8f8;
     z-index:2;
     display:flex;
     left:100%;
     overflow:hidden;
}

#interactivesHolder{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:10px;   
    bottom: -20px;
    height:150px;
    width:100%;
    position:absolute;
}


#next{
background:#59bf4c;
box-shadow: 0 5px 0 0 #49963e;
}

#previous{
background:#e93042;
box-shadow: 0 5px 0 0 #cb2c3b;
}

.interactive div{
  pointer-events: none;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.interactive{
user-select: none;
height:50px;
width: 50px; 
display:flex; 
align-items: center; 
justify-content: center;
text-align: center;
border-radius:150px;
pointer-events: auto;
}
.displayedPhrase{
    padding:50px;
    padding-top:30px;

}
.mainInteractive{
    display: flex;
    align-items: center;
    justify-content: center;

z-index: 3;
pointer-events: auto;
height:60px;
width: 60px; 
box-shadow:0px 5px 0px 0px #1a7ac5;
background:#1a95f4;
transform:translateY(-15px); 
}

.interactive svg{
user-select: none;
pointer-events: none;
margin:0 auto;  
-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

nav{
  z-index:7;
}



#currentPicture{

box-shadow: 0 20px 25px -5px rgba(0,0,0,0.1), 0 8px 10px -6px rgba(0,0,0,0.1);
display:block; 

margin:0 auto;
border-radius:20px;
width:400px;
max-width: 95%;

}

nav{
  padding:10px;

  height: 80px;
}


#microText{
  width:100%;
  height:auto;
  bordeR-radius:15px;
  display:flex;
font-size: .6rem;
font-style: italic;
font-weight: bold;
background : #f51d36; 
color:#fff;
padding:8px;
box-Shadow : 0px 0px 0px 0px #d11c31;
text-align: left;
border:0;
}



#microTranscript{
pointer-events: none; 
-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
display: none;
transform-origin: bottom center;
position:absolute;
opacity:0;
margin-left:-75px ;
width: 200px;
height:auto;
margin-bottom:100px;
}

#microSvg{
pointer-events: none;
-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
height:20px;
width:20px;
margin-left: 75px;

}


  .title{
     font-size: 40px;
     color:green;
  }


  #confirmer{
 
     position:fixed;
     left:100%;
     top:0;
     z-index:5;
     height:100%;
     width:100%;
    /* max-width: 700px;*/
     background: #935ca9;
     overflow:hidden;
     display:flex;
     flex-direction: column;
}

#confirmerAnimation{
  max-width: 700px;
  margin:0 auto;
  border-radius: 15px;

}

#confirmerTitle{
     color:white; 
     font-weight:bold; 
     padding:15px;

     font-size:30px; 
     text-align:center; 
     line-height:40px;
     margin-top:-50px;
   


}
#confirmerInfos{
     margin:0 auto;
     border-radius:15px;
     margin-top:-50px;
     padding:10px;
      font-weight:regular; 
      font-size:25px;
      color:#fff;
     width:90%;
     max-width: 500px;
      background: #f9be0b;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.buttonCanvas{
     height:65px;
     width:175px;
     border-radius: 10px;

     padding:20px;
   
     font-size: 1.5rem;
     color:white;
    justify-content: center;
    text-align: center;
     display:flex;
     flex-direction: column;
     font-weight: bold;
     background:#4ba6ec;
    box-shadow: 0px 8px 0px 0px #348acc;
}


#backgroundQuestions{
  background:#f8f8f8;
  position:fixed;
  left:0%;
  top:0;
  width:100%;
  height:100%;
  padding:20px;
  padding-top:50px;
  display:none;
  z-index:4;
 
}

#confirmerDisplayer{
display:none;
background: #a04cc1;
box-shadow: 0px 5px 0px 0px #893ca7;
right: 130px;
}

.storyBlock{
  margin-bottom:20px;
  display:flex;

}

#speechTooShort{
  position:fixed;
  top:80%;
  left:50%;
  background:#333333;
  border-radius: 15px;
  text-align: center;
  padding:10px;
  transform:translate(-50%,-50%) ;
  z-index:6;
  width:90%;
  max-width: 500px;
  height:auto;
display:none;
  color:white;
  font-weight:bold;
  font-size:12px;

}




#scoreSpeech{
  background:rgba(0,0,0,.2);
  position:fixed;
  height:100%;
  width:100%;
  top:0;
  left:0;
  display: none;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  z-index: 7;
  margin:0 auto;
}




 
.bannerScore{
 position:absolute;

  width:140%;
  height:350px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px; 
  left:-140%;
  margin-left:-20%;
  transform: rotate(-7deg);
}

.bannerScoreLandscape{

}

.animationScore{
display: none;
height: 400px;

}



#sketchpad{
  touch-action: none;
}



@media only screen and (min-width: 350px){


.bannerScore .animationScore:nth-child(1){
  margin-top: -250px;
  margin-left: 60px;
  transform:scale(.6);
  margin-bottom:-100px;

}

.bannerScore .animationScore:nth-child(2){
  margin-top: -250px;
  margin-left: 60px;
  transform:scale(.8);
  margin-bottom:-100px;

}

.bannerScore .animationScore:nth-child(3){
  margin-top: -250px;
  transform:scale(.7);
  margin-bottom:-90px;
    margin-left: 50px;

}

.bannerScore .animationScore:nth-child(4){
transform: scale(.7);
 margin-top: -220px;
margin-bottom:-120px;
  margin-left: 50px;
}
.comment{
    
      margin-top:20px;
    
}

.comment span{
  font-size: 25px;
  line-height: 30px;
}

.containerAudio{
 
 margin-top:-80px;
}
}

@media only screen and (min-width: 765px){


.bannerScore .animationScore:nth-child(1){
  margin-top: -150px;
  margin-left: 170px;
  transform:scale(.8);
  margin-bottom:-150px;

}

.bannerScore .animationScore:nth-child(2){
  transform:scale(1.5);
  margin-top:-150px;
  margin-lefT:200px;
}
.bannerScore .animationScore:nth-child(3){
  transform:scale(1.2);
  margin-top:-200px;
  margin-bottom:-100px;
  margin-lefT:200px;
}

.bannerScore .animationScore:nth-child(4){
  transform:scale(1);
  margin-top:-120px;
  margin-bottom:-180px;
  margin-lefT:200px;
}

.comment{
    margin-lefT:200px;
      margin-top:80px;

}

.comment span{
  font-size: 35px;
  line-height: 30px;
}
.containerAudio{
 
  padding:100px;
  margin-left:-200px;

}
}

.comment{
      font-size:25px;       
      font-weight: bold;
      color:#fff;
     /*text-shadow: .1em .1em 0 hsl(200 50% 30%);*/
      display:block;
      text-align: center;
      padding:10px;
      font-family: 'GROBOLD';
      pointer-events: none;  
      letter-spacing: 2px;
     
    }
   

   

    .scoreOK{
    padding:10px;
    width:150px;
    box-shadow: 0px 8px 0px 0px #348acc; 
    background:#4ba6ec;
    color:#fff;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    border-radius: 15px;
    margin-left:50%;
    transform: translate(-50%);
    height:auto;
 


    }

.bannerScoreTransition{

  -webkit-transition: 3s;
  -moz-transition: 3s;
  -ms-transition: 3s;
  -o-transition: 3s;
  transition: 3s;
  width: 140% ;

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px){


.bannerScore{

  height: 300px;

}




}



#confirm{
  height: 100px;
  padding:0;
}





    #score{    
    font-size:110px;
    font-family: 'GROBOLD';
    font-weight: bolder;

    text-align: center;
  color:white;
    display:block;
      text-align: center;
      margin-top:-50px;
 
     
    }
 




#scoreSpeechContainer{
    overflow:hidden;
    margin:0 auto;
     height:450px;
     width:300px;
     border-radius:50px;
     box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px; 
    background:#fff;

}
.emojiContainer{
padding-top:10px; 
    height:125px;
    background:transparent;
display:flex;
align-items: center;
justify-content: center;
}


.success{
 
background: radial-gradient(circle at 10% 20%, rgb(4, 159, 108) 0%, rgb(194, 254, 113) 90.1%);
    
}

.middle{
  background: linear-gradient(109.6deg, rgb(255, 207, 84) 11.2%, rgb(255, 158, 27) 91.1%);
     }
.fail{
   background: radial-gradient(circle at 10% 20%, rgb(226, 37, 37) 0%, rgb(211, 49, 49) 82.8%);
}


.trophySuccess{
background: linear-gradient(-225deg, #65379B 0%, #886AEA 53%, #6457C6 100%);
}




#divVideoPlayer{

      background:#000000;
      
  }
.containerVideo{
   padding:20px;
}
.containerVideo svg{
  height:200px;
  width:200px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
       border-radius:10px;

}


.containerVideo img{
   border-radius:10px;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.posterImage{
    border-radius:25px;
width:100%;
}

.videoLauncher img{
  border-radius:25px;
}


#mainLoader{
 background:#fff;
 lefT:0;

 z-index:9999;
text-align: center;
}

#mainLoader h2{
  color:#dd2476;
  font-weight: bold;
  margin-top:20px;
}
#mainLoader div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#container {
  width: 200px;
  height: 200px;
}

@keyframes animation {
  0% {
    stroke-dasharray: 1 98;
    stroke-dashoffset: -105;
  }
  50% {
    stroke-dasharray: 80 10;
    stroke-dashoffset: -160;
  }
  100% {
    stroke-dasharray: 1 98;
    stroke-dashoffset: -300;
  }
}

#spinner {
  transform-origin: center;
  animation-name: animation;
  animation-duration: 1.2s;
  animation-timing-function: cubic-bezier;
  animation-iteration-count: infinite;
}

#voicesHolder{
  display: block;
  position:fixed;
  height:100%;
  width:100%;
  left:-10px;
  top:100%;
  background:#fff;
  border-radius:50px 50px 0px 0px ;

  padding:40px;
  margin:10px;
 
  overflow:scroll;
  z-index:9999;
  transform-origin: center;

}



#confirmVoice{
  text-align: center;
  background:#f3520b;
  box-shadow: 0px 5px 0px #c73d00;

}

#voicesHolder .row{
  gap:20px;
}



.voiceContainer{
  display:flex;
  background:#3191e2;
  box-shadow: 0px 5px 0px #2e7ec1;
  border-radius:50px;
  width:auto;
  margin:1;
  padding:5;
  transition:all .2s;

}

.voiceSelected{
   background:#74d444;
  box-shadow: 0px 5px 0px #5aae30;
  transform: scala(.9);
}


.voiceinfoContainer{
font-weight:bold;
font-size:20px;
color:white;
text-align: center;
padding-left:15px;


padding-top:15px;
}

.voiceAvatarContainer{
  border-radius: 50%;
  background:#fff;
  height:70px;
  width:70px;
  display: flex;
  justify-content: center;


}

.avatar{
     height:80%;
     maring:0 auto;
     margin-top:10px;
     
}

.laoderOff{
  top:100%;
}














.storyRow hr{

  margin:5;
}


.storyTitle{
  line-height:clamp(20px, 2vw, 22px);
font-size: clamp(20px, 2vw, 22px);
font-weight: bold;
}
.storySpanInfo{
  line-height:clamp(19px, 2vw, 22px);
font-size: clamp(16px, 2vw, 18px);
 padding-bottom: 50px;

}

.PictureStoryContainer{
  text-align: center;
  

}

.PictureStoryContainer span{
  margin:0 auto;

margin-left:50%;
 transform: translate(-50%);
  color:white;
   border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
width:400px;
padding-left:20px;
max-width: 95%;
   margin-top:-25px;
   background:#ef3248;
   display:inline-flex; 

  text-align: center;
}




#videoplayerHolder{
  z-index:20;
}

.videoMore{
  padding:20px; 
  text-align:center;
  overflow:scroll;
   background:#f2f2f2;
   border-radius: 25px;
}

















