<style>  

    .emojiContainer lottie-player{
       
         display:flex;
width:250px;
         background:transparent;


    }

    #starsContainer{
        height: 150px;
       width:100%;
       display:flex;
       margin-left:135px;
       margin-top:-60px;  

    }

     #backgroundStartContainer{
        height: 150px;
       width:100%;
       display:flex;
       margin-left:135px;
       margin-top:70px; 
       position:absolute; 

    }

    .star{
    margin-left: -100px;
    height:200px;
    width:200px;
       
    
    }



    #score{
         margin-top:-50px;
         font-size:100px;
           font-family: 'Poppins', sans-serif;
           font-weight: bolder;
           color:#fff;
             text-shadow: .1em .1em 0 hsl(200 50% 30%);
     
    }
    .scoreOK{
    padding:10px;
    padding-left:30px;
    padding-right:30px;
    box-shadow: 0px 8px 0px 0px #348acc; background:#4ba6ec;
    color:#fff;
    font-size: 28px;
    font-weight: bold;
    border-radius: 15px;
 margin-left:50%;
 transform: translate(-50%,-20%);
    height:auto;
    }

    #comment{
           font-size:35px;
           font-family: 'Poppins', sans-serif;
           font-weight: bold;
           color:teal;
            /*text-shadow: .1em .1em 0 hsl(200 50% 30%);*/
           display:block;
               text-align: center;
            

    }

    #comment span{
      pointer-events: none;
             text-align: center;
              display:inline-block;
                 margin: 0 auto;
                 margin-top:-50px;
    }

#scoreSpeech{
  background:rgba(0,0,0,0.3);
  position:fixed;
  height:100%;
  width:100%;
  top:0;
  left:0;
 display: none;
  flex-direction: column;
  justify-content: center;
  z-index: 200;


}


#scoreSpeechContainer{
    overflow:hidden;
    margin:0 auto;
     height:450px;
     width:300px;
     border-radius:50px;
     box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px; 
    background:#fff;

}
.emojiContainer{
padding-top:10px; 
    height:125px;
    background:transparent;
display:flex;
align-items: center;
justify-content: center;
}


.success{
 
   border-bottom: solid 15px #7ac06a;
     border-top: solid 5px #7ac06a;
}

.middle{
       border-bottom: solid 15px #ffc000;
        border-top: solid 5px #ffc000;
}
.fail{
     border-bottom: solid 15px #ed3c55;
       border-top: solid 5px #ed3c55;
}




#trophy{
    width:250px;
       display:flex;
       background:transparent;
       margin:0 auto;
}