/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/


@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');


/*****---------------------------------------- 1) font-family: 'Rajdhani', sans-serif;
 2) font-family: 'Poppins', sans-serif;
 ----------------------------------------*****/


/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/



/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

* {
     box-sizing: border-box !important;
     user-select: none;
     padding:0;
     margin:0;
}

.container {
     max-width: 1170px;
}

html {
     scroll-behavior: smooth;
}

body {
     color: #666666;
     font-size: 1rem;
     font-family: 'Poppins', sans-serif;
     line-height: 1.80857;
     font-weight: normal;
}

.text_align_center {
     text-align: center;
}
.text_align_center
h1,
h2,
h3,
h4,
h5,
h6 {
     letter-spacing: 0;
     font-weight: normal;
     position: relative;
     padding: 0;
     font-weight: normal;
     line-height: normal;
     color: #111111;
     margin: 0
}
.text_align_center h3{
     padding:10px;
     padding-bottom:50px;
}

h1 {
     font-size: 1.5rem;
}

h2 {
     font-size: 1.3rem;
}

h3 {
     font-size: 1.1rem;
}

video{
background: gray;
}
*,
*::after,
*::before {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}




img {
     max-width: 100%;
     height: auto;
}

 :focus {
     outline: 0;
}


/**-- heading section --**/


/*---------------------------- preloader area ----------------------------*/



.class_box {
     border-radius: 10px;
     background: #f0390f;
     margin-bottom: 58px;
     transition: ease-in all 0.5s;
     padding: 30px 50px 30px 50px;
     box-shadow: 0px 10px 0px 0px;
}

.class_box h3 {
     color: #fff;
     font-size: 3rem;
     transition: ease-in all 0.5s;
     font-weight: bold;
     line-height: 22px;
     padding: 30px 0;
}

.class_box h1 {
     color: #fff;
     font-size: 4rem;
     transition: ease-in all 0.5s;
     font-weight: bold;
     line-height: 22px;
     padding: 30px 0;
}

.class_box h2 {
     color: #fff;
     font-size: 2rem;
     line-height: 2rem;
     font-weight: bold;
     transition: ease-in all 0.5s;
}

.margi_bottom {
     margin-bottom: 0px;
}

button {
     border: 0;
     margin: 0;
     padding: 0;
     cursor: pointer;
}
button:focus {
     outline: none;
}

/** end our class **/




.img_responsive {
     max-width: 100%;
}


body{
     user-select: none;
}

.shake:active {


  -webkit-animation-name: shake;
  animation-duration: :0.25s;
    -webkit-animation-duration: 0.25s;
    -moz-animation-name: shake;
     -moz-animation-duration: 0.25s;
      -o-animation-name: shake;
     -o-animation-duration: 0.25s;
}

@keyframes shake {
     0% { transform:translate(0,0px); transform:scale(1) }     
     50% {  transform:translate(0,6px);transform:scale(0.8)}  
     100% {   transform:translate(0,0); transform:scale(1)}
}
@-o-keyframes shake {
     0% { transform:translate(0,0px); transform:scale(1)}     
     50% {  transform:translate(0,6px);transform:scale(0.8)}  
     100% {   transform:translate(0,0); transform:scale(1)}
}


@-moz-keyframes shake {
     0% { transform:translate(0,0px);  transform:scale(1)}     
     50% {  transform:translate(0,6px);transform:scale(0.8)}  
     100% {   transform:translate(0,0);transform:scale(1)}
}



@-webkit-keyframes shake {
     0% { -webkit-transform:translate(0,0px); transform:scale(1)}     
     50% {  -webkit-transform:translate(0,6px); transform:scale(0.8)}  
     100% {   -webkit-transform:translate(0,0); transform:scale(1)}  
}


/** end contact **/



@keyframes quiet {
  25%{
    transform: scaleY(.2);
  }
  50%{
    transform: scaleY(.175);
  }
  75%{
    transform: scaleY(.3);
  }
}

@keyframes normal {
  25%{
    transform: scaleY(.45);
  }
  50%{
    transform: scaleY(.175);
  }
  75%{
    transform: scaleY(.25);
  }
}
@keyframes loud {
  25%{
    transform: scaleY(.3);
  }
  50%{
    transform: scaleY(.25);
  }
  75%{
    transform: scaleY(.405);
  }
}

.boxContainer{
  display: flex;
  justify-content: space-between;
  height: 50px;
  --boxSize: 6px;
  --gutter: 5px;

  position:absolute;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
  width: calc((var(--boxSize) + var(--gutter)) * 3);
 
}

.box{
  transform: scaleY(.4);
  height: 100%;
  width: var(--boxSize);
  background: #fff;
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  border-radius: 50px;
}

.box1{
  animation-name: quiet;
}

.box2{
  animation-name: loud;
}

.box3{
  animation-name: normal;
}

.box4{
  animation-name: quiet;
}



.loader {
  width: 150px;
  height: 18px;
  position: absolute;
  top:35%;

  left:50%;
  transform: translate(-50%,-50%);

}
.loader::before , .loader::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translate(-50% , 10%);
  top: 0;
  background: #FF3D00;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  animation: jump 0.5s ease-in infinite alternate;
}

.loader::after {
  background: #0000;
  color: #4d89e3;
  top: 100%;
  box-shadow: 32px -20px , -32px -20px;
  animation: split 0.5s ease-out infinite alternate;
}

@keyframes split {
  0% { box-shadow: 8px -20px, -8px -20px}
  100% { box-shadow: 32px -20px , -32px -20px}
}
@keyframes jump {
 0% { transform: translate(-50% , -150%)}
 100% { transform: translate(-50% , 10%)}
}

#loaderContainer{
     background-color:#fff;
  
     position:fixed;
     display:none;
     height:100%;
     width:100%;
     top:0;

}

#loaderContainer h1{
    position:fixed;
    top:40%;
    z-index:500;
    left:50%;
    transform: translate(-50%,-50%);
    font-weight:bold;
    color:#ffc706;
    font-size:4rem;
text-shadow: 1px 4px 0px rgba(0,0,0,0.11);
}





.centerBottom {
     left:50%;
     top:100%;
     transform: translate(-50%, calc(-100% - 70px));
}

}
#Reader{

}
#questionPopper{
position:absolute;
display:flex; 
align-items: center; 
justify-content: center;
top:110px;
right:10px;
height: 50px;
width:50px;
border-radius: 50px;
 background:#f7cce4;
     box-shadow: 0px 5px 0px 0px #d7a3c0;
}





.storyCover{
border-radius:10px;
width:100%;
}


.cancel{
position:absolute;
display:flex; 
align-items: center; 
justify-content: center;
top:10px;
right:10px;
height: 50px;
width:50px;
border-radius: 50px;
}



.subCancel{

background: #e02f3c;
box-shadow: 0px 5px 0px 0px #ba2f39;

}
.settings{
   background: #f1bd1f;
box-shadow: 0px 5px 0px 0px #cb9901;
top:75px; 
}
.mainCancel{

background: #464646;
box-shadow: 0px 5px 0px 0px #313130;
}





 #searchInput {
 margin-top:50px;
  font-size: 1.5rem; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  border-radius: 50px;
 width:100%;

}
#displayedPhrase{   
     padding:50px;
}

.word{
     border-radius: 10px;
     background: #1a95f4;
     margin-bottom: 20px;
     transition: ease-in all 0.2s;

     padding:10px;
     padding-left:25px;
     padding-right:25px;

     box-shadow: 0px 10px 0px 0px #1a7ac5;
     height:auto;
     margin-left:10px;
     min-width: 50px;
     font-size: 1.8rem;
     font-weight: bold;
     color:white;   
}
@media (min-width: 992px) and (max-width: 1199px) {
   .word{
     font-size: 2.2rem;
      box-shadow: 0px 10px 0px 0px #3082c7;
   }
}


@media (min-width: 768px) and (max-width: 991px) {
.word{
font-size: 1.8rem;
box-shadow: 0px 8px 0px 0px #3082c7;
} 

}

@media (max-width: 575px) {
.word{
font-size:1.2rem;
 box-shadow: 0px 6px 0px 0px #3082c7;

padding:5px;
padding-left:12px;
padding-right:12px;
margin-left:2px;
margin-bottom: 10px;
}
#displayedPhrase{   
     padding:10px;
}
}


.mainContainer{
     position:relative;
     overflow-x:hidden;
}


.boxContainer{
     height:80px;
    
  --boxSize: 5px;
  --gutter: 1px;
  width: calc((var(--boxSize) + var(--gutter)) * 5)
}
}



#backgroundQuestions{
     position:fixed;
}







.scoreContainer{
     position:absolute;
     height:500px;
     width:300px;
     top:50%;
     left:50%;
     transform:translate(0%,0%);

     margin-top: -300px;
     margin-left:-175px;
     display:block; 
     border-radius:50px;
     box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
   
    background:#fff;

}


.icon{
     height:50%;
}

#ResultContainer{
     left:50%;position:absolute; margin-left:-175px
}


.bottomCenter{
left:50%; 
top:100%;
border:solid 2px;
transform: translate(-50%, calc(-100% - 70px)); 
position:absolute;
}



}




.holder{
     border:0;
     position:fixed;
     height:100%;
     width:100%;
     top:0;
     left:0;
     z-index:3;
     background:green;
}


.titlepage h2{
     font-size:60px;
     font-weight: bold;
     color:#404040;
     padding:50px;
     line-height: 50px;
}

.class_box p{
     color:#fff;
}
.class_box h1{
     line-height:60px;
}